
h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

.container {
  .navbar {
    background-color: $base-color;
    border-radius: initial;
    box-shadow: 0 1px 21px #000;
    padding: 0 5%;
    border-bottom: 2px solid orange;
    .navbar-brand {
      float: right;
      color: $white;
      font-size: 20px;
      font-family: $font-nothing;
      animation: fadein 2s 1;
    }
    .navbar-nav {
      float: right;
    }
    .navbar-header {
      margin: 0 50px;
    }
    li {
      a {
        color: $white;
        font-family: $font-raleway;
        text-transform: uppercase;
        transition: all .2s cubic-bezier(0.7,0,0.3,1);
        &:hover {
          background-color: orange;
          color: $base-color;
        }
      }
    }
  }

}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
