<div id="map-quest-map" map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key={{vm.apikey}}">
  <ng-map zoom="10" center="[37.45,-122.16]">
    <marker ng-repeat="p in vm.positions"
      position="{{p.pos}}"
      data="{{p.data[$index]}}"
      title="Position of {{p.data['Company Name']}} in {{p.data.City}}"
      on-click="vm.showDetail(p.data)"
      ></marker>
      <!-- <info-window id="my-iw"><div ng-non-bindable></div></info-window>-->
  </ng-map>
</div>
