<div id="map-quest-map" map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key={{vm.apikey}}">
  <ng-map default-style="true" zoom="10" center="[37.45,-122.16]">

    <marker ng-repeat="startup in vm.data | filter: { on_map: true }"
            id='{{startup.id}}'
            position="[{{startup.garage_latitude}},{{startup.garage_longitude}}]"
            title="Position of {{startup.company_name}} in {{startup.city}}"
            on-click="vm.showDetail(startup)">
      </marker>

      <info-window id="foo-iw">
        <div>
          <h4>{{vm.map.startup.company_name }}</h4><br/>
          Founded by <b>{{vm.map.startup.founder }}</b> <br/>
          Location: {{vm.map.startup.street }} {{vm.map.startup.postal_code }} {{vm.map.startup.city }} ({{vm.map.startup.country }})<br/>
          <a href="{{ vm.map.startup.home_page }}" target="_blank" >Website</a>
        </div>
      </info-window>


  </ng-map>
</div>
