<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th sortable>#</th>
        <th sortable>Company</th>
        <th sortable>Founder</th>
        <th sortable>Adress</th>
        <th sortable>City</th>
        <th sortable>Website</th>
        <th sortable>Photo</th>
        <th sortable>Map</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="startup in vm.data" ng-click="startup.on_map = !startup.on_map" ng-class="startup.on_map ? 'selected' : ''">
        <td>{{ startup.id }}</td>
        <td>{{ startup.company_name }}</td>
        <td>{{ startup.founder }}</td>
        <td>{{ startup.street }} {{ startup.postal_code }}</td>
        <td>{{ startup.city }} ({{ startup.country }})</td>
        <td><a ng-href="{{ startup.home_page }}" target='_blank'>Link</a></td>
        <td class="thumbnail">
          <img ng-src="{{ startup.photo }}" alt="{{ startup.title }}" />
        </td>
        <td>
          <input type="checkbox" ng-model="startup.on_map" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
