.table-responsive {
  .table {
    > thead {
      > tr {
        > th {
          text-align: left;
          font-size: 10px;
        }
      }
    }
    .thumbnail {
      img {
        max-width: 150px;
        height: 80px;
      }
    }
  }
}
