.table-responsive {
  .table {
    > thead {
      > tr {
        > th {
          text-align: left;
          font-size: 10px;
        }
      }
    }
    > tbody {
      tr {
        transition: all .2s linear;
        opacity: 0.5;
        &:focus {
          outline: none;
          border: 0;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .selected {
        opacity: 1;
      }
    }
    .thumbnail {
      img {
        max-width: 150px;
        height: 80px;
      }
    }
  }
}
