.table-responsive {
  .table {
    > thead {
      > tr {
        position: relative;
        > th {
          text-align: left;
          font-size: 12px;
          &:focus {
            outline: none;
            border: 0;
          }
          &.sortable {
            &:hover {
              text-decoration: underline;
            }
            &.asc, &.desc {
              &:after {
                position: relative;
                left: 9px;
                font-size: 7px;
                top: -1px;
                text-decoration: none;
              }
            }
            &.desc:after {
              content: '↑';
            }
            &.asc:after {
              content: '↓';
            }
          }
        }
      }
    }
    > tbody {
      tr {
        transition: all .2s linear;
        opacity: 0.5;
        &:focus {
          outline: none;
          border: 0;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .selected {
        opacity: 1;
      }
    }
    .thumbnail {
      img {
        max-width: 150px;
        height: 80px;
      }
    }
  }
}
